.container {
  padding: 5px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1100px;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.footer {
  margin-top: 32px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  background-color: lightseagreen;
}

.counts {
  background-color: lime;
}
