.heading {
  display: flex;
}
.heading button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.heading_name,
.heading_population {
  flex: 1;
  padding: 20px;
  color: var(--text-color-secondray);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading_name {
  justify-content: flex-start;
}
.heading_arrow{
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}
.row {
  display: flex;
  padding: 20px;
  text-align: center;
  background-color: var(--backgraund-color-light);
  border-radius: 8px;
  margin-bottom: 16px;
  font-weight: 500;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.row:hover {
  transform: translateY(-4px);
  transition: transform 200ms ease-in-out box-shadow 200ms ease-in-out;
  box-shadow: 8px 4px 16px rgb(0, 0, 0, 0.1);

  );
}
.name {
  flex: 1;
  text-align: left;
}

.population {
  flex: 1;
  text-align: left;
}
